doctype 5
html
  head
    meta(charset="utf-8")
    title= Inscription
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src="javascripts/script.js")
  body
    form(method='post')
      fieldset
        legend Identification
        p
          label(for="user_code") Code permanent:
            input(type="text", id="code_permanent", name="code_permanent")
        p
          label(for="user_prog") Programme: 
            input(type="text", id="user_prog", name="user_prog")
  
      fieldset(id="Messages")
        legend Messages
        #list.message

      fieldset(id="listeCours")
        legend Choix de cours
        p Entrez vos choix de cours sous le format Cours-Groupe
        p Exemple: INF4375-50
      
        table
          tbody
            tr
              td
                p
                  input(type="text", id="cours0", onchange="validateCours(0)", name="cours0")
              td
                p
                  input(type="text", id="cours1", onchange="validateCours(1)", name="cours1")
              td
                p
                  input(type="text", id="cours2", onchange="validateCours(2)", name="cours2")
            tr
              td
                p
                  input(type="text", id="cours3", onchange="validateCours(3)", name="cours3")
              td
                p
                  input(type="text", id="cours4", onchange="validateCours(4)", name="cours4")
              td
                p
                  input(type="text", id="cours5", onchange="validateCours(5)", name="cours5")
      p
        input(type="submit", id="submit", value="Envoyer la requête", disabled = "true")